.numInput {
	width: 45px;
	text-align: right;
}

#myTable {
	border-collapse: collapse;
}

#myTable td, #myTable th {
	border: 1px solid #ddd;
	padding: 3px;
}

#myTable tr:nth-child(even){background-color: #f2f2f2;}

#myTable tr:hover {background-color: #cccccc;}
#myTable thead tr:hover {background-color: inherit;}

#myTable thead {
	padding-top: 12px;
	padding-bottom: 12px;
	font-weight: bold;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

#tableDiv {
	margin-top: 20px;
	margin-left: 20px;
}

#comparisonInput {
	margin-top: 15px;
}

.github-icon {
	position: absolute;
	top: 10px;
	right: 10px;
}